:root {
  --option-size: 16px;
} 

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background: #131313;
}

.tab-option {
  color: #ddd;
  padding: 12px 28px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color .3s;
}

.tab-option:hover {
  cursor: pointer;
  background-color: #7a6a15;
}

.timeline-picker {
  width: min(100%, 800px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  align-items: center;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: #fff1;
  transition: background-color .3s ease;
}

.timeline-picker:hover {
  background-color: #fffd;
}

.type-picker {
  transition: color .3s ease, background-color .3s ease;
}

.type-picker:hover {
  cursor: pointer;
  background-color: #fffd;
  color: #131313 !important;
}
.type-picker-badge > .ant-badge-status-text {
  color: #ddd !important;
}
.type-picker:hover > .type-picker-badge > .ant-badge-status-text {
  color: #131313 !important;
}


.type-picker-selected {

}

.timeline-picker::before {
  content: "";
  width: calc(100% - var(--option-size) * 4);
  height: 4px;
  background-color: #7a6a1599;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(var(--option-size) * 2);
}

.timeline-picker > .option-container {
  flex-grow: 1;
  height: min(100%, 50px);
  display: flex;
  height: 40px;
}

.timeline-picker > .option-container > .option {
  width: var(--option-size);
  height: var(--option-size);
  margin: auto;
  border-radius: 50%;
  border: solid 1px #fff;
  background-color: #7a6a15;
  box-shadow: 0 0 20px #000;
  transform: scale(1);
  transition: transform .1s ease-out;
}

.timeline-picker > .option-container > .option.selected {
  transform: scale(2);
}

.timeline-picker > .option-container:hover {
  cursor: pointer;
}
.timeline-picker > .option-container:hover > .option {
  transform: scale(1.4);
}

.timeline-picker > .option-container:hover > .option.selected {
  transform: scale(2);
}

.triangle {
  transform-origin: bottom left;
  transition: transform .3s ease;
  transform: scale(1);
}

@media only screen and (max-width: 1200px) {
  .triangle:hover {
    transform: scale(2);
  }
}


.triangle-label {
  position: absolute;
  color: #eee;
  font-weight: bold;
}

.triangle-label.agriculture {
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.triangle-label.industries {
  left: 10px;
}

.triangle-label.services {
  right: 10px;
}